/app_data/*
/.idea/
/app_data/#innodb_temp/
/app_data/mysql/
/app_data/performance_schema/
/app_data/skills_management_db/
/app_data/sys/
/app_data/#ib_16384_0.dblwr
/app_data/#ib_16384_1.dblwr
/app_data/auto.cnf
/app_data/binlog.000001
/app_data/binlog.000002
/app_data/binlog.000003
/app_data/binlog.index
/app_data/ca.pem
/app_data/ca-key.pem
/app_data/client-cert.pem
/app_data/client-key.pem
/app_data/ib_buffer_pool
/app_data/ib_logfile0
/app_data/ib_logfile1
/app_data/ibdata1
/app_data/ibtmp1
/app_data/mysql.ibd
/app_data/private_key.pem
/app_data/public_key.pem
/app_data/server-cert.pem
/app_data/server-key.pem
/app_data/undo_001
/app_data/undo_002
